@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.photos {
    background-color: #ebebeb;
    padding: 50px 0px;
    position: relative;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #333333;
    min-width: 600px;
}

.photo-container{
    display: block;
    margin: 0 auto;
    border: 10px solid white;
    box-shadow: 0 0 10px 2px #bcbcbc;
    width: 300px;
    height: 300px;    
}

.photo-container::before {
    background-image: url("spb-2.jpg");
    content: "";
    display: block;
    width: 100%;
    background-size: cover;
    height: 100%;
}

.filters {
    background-color: #333333;
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filters li {
    height: 100px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    word-wrap: break-word;
    line-height: 25px;
    margin: 40px 10px;
}

.filters li::before {
    height: 100px;
    width: 100px; 
    content: "";
    display: block;
    background-image: url("spb.jpg");
    background-size: cover;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.active {
    outline: 2px solid white;
}

/* фильтры */
.walden::before {
    filter: contrast(0.9) brightness(1.2) hue-rotate(-20deg) saturate(1.7) sepia(0.4);
}

.toaster::before {
    filter: saturate(2.5) hue-rotate(-30deg) contrast(0.67) sepia(0.4);
}

.kelvin::before {
    filter: contrast(1.1) brightness(1.3) saturate(2.4) sepia(0.4);
}

.sepia::before {
    filter: sepia(1);
}

.saturate::before {
    filter: saturate(1.5);
}

.git-offline::before {
    filter: invert(1);
}

.blur::before {
    filter: saturate(1.2) blur(1px) ;
}
/* */

.reset {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    top: 5%;
    right: 5%;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px #bcbcbc;
    cursor: pointer;
    transition: all 0.5s ease;
}

.update {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid #d1d1d1;
    margin: 9px auto;
    border-right-color: transparent;
}

.update::after {
    width: 0px;
    height: 0px;
    border: 6px solid #d1d1d1;
    content: "";
    position: absolute;
    border-left-color: transparent;
    border-top-color: transparent;
    top: 9px;
    right: 9px;
}

.reset:hover {
    background-color: #f6f6f6;
}

.reset-active {
    animation-name: rotate;
    animation-duration: 0.5s;
}
